<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'PlaybackRecorded',
  data() {
    return {
      msg: 'Playback'
    };
  }
};
</script>

<style scoped>

</style>
