<template>
  <div class="tankgolf">
    <div v-if="error !== null">
      <h2>Error: {{error}}</h2>
    </div>
    <SelectPlayers v-if="!playersSelected" @selected="selectedPlayers"/>
    <div v-if="playersSelected && gameOK">
      <Visualization :state="state" scale="55" :map="mapDescription"/>

      <label for="checkbox-skipBotQueries">Skip visualization of queries</label>
      <input id="checkbox-skipBotQueries" type="checkbox" @change="updateSkipBotQueries" v-model="skipBotQueries">

      <br>

      <button @click="gameController.stopGame">Stop Game</button>
    </div>
  </div>
</template>

<script>
import Visualization from '@/components/Visualization';
import SelectPlayers from '@/components/SelectPlayers';
import GameController from '@/gameController';
import map1 from '../../../../geometry/maps/map1.json';

export default {
  name: 'PlayGame',
  components: {
    'Visualization': Visualization,
    'SelectPlayers': SelectPlayers
  },
  data() {
    return {
      playersSelected: false,
      gameOK: false,
      playersDescriptions: null,
      gameController: null,
      state: {
        gameState: null,
        frontendState: null,
        smState: null
      },
      interval: null,
      mapDescription: map1,
      error: null,
      skipBotQueries: false
    };
  },
  mounted() {
  },
  methods: {
    updateSkipBotQueries() {
      if (!this.gameController) return;

      this.gameController.skipBotQueries = this.skipBotQueries;
    },
    startGameLoop() {
      this.interval = window.setInterval(() => {
        this.state = this.gameController.tick();
      }, 1000 / 30);
    },
    setupGameController() {
      this.gameController = new GameController(this.playersDescriptions, (good) => {
        if (good) {
          this.state = this.gameController.getState();
          this.gameController.mapData = this.mapDescription;

          document.addEventListener('keydown', this.gameController.keydown);
          document.addEventListener('keyup', this.gameController.keyup);

          this.startGameLoop();

          this.gameOK = true;
        } else {
          this.error = 'Could not connect to Game Server! Check server and reload page.';
        }
      });
    },
    selectedPlayers(playersDescriptions) {
      this.playersDescriptions = playersDescriptions;
      this.playersSelected = true;
      this.setupGameController();
    }
  }
};
</script>

<style scoped>

</style>
