<template>
  <div class="select_players">
    <h1>Select Players</h1>

    <div class="player" v-for="(p, id) in players" :key="p.id">
      <h2>Player {{ id == 0 ? 'A' : 'B'}}</h2>
      <label for="type">Player type</label><br>
      <select v-model="p.type" name="type">
        <option v-for="type in playerTypes" :value="type.name" :key="type.id">
          {{ type.display }}
        </option>
      </select>
      <br>

      <!-- Choose control scheme for Manual Player -->
      <div v-if="p.type == 'websocket'">
        <label for="controls">Controls</label><br>
        <select v-model="p.controls" name="controls">
          <option v-for="scheme in controlSchemes" :value="scheme.name" :key="scheme.id">
            {{ scheme.display }}
          </option>
        </select>
      </div>
      <!-- Choose command for Local Bot or URL for Server Bot -->
      <div v-else>
        <label for="argument">
          {{ p.type == 'bot' ? 'Run command' : 'URL' }}
        </label><br>
        <input v-model="p.argument" type="text" name="controls">
      </div>

    </div>
    <br><br>

    <button :disabled="!done" @click.prevent="ok" id="btn-ok">OK</button>
  </div>
</template>

<script>
const playerTypes = [
  {
    name: 'bot',
    display: 'Local Bot'
  }, {
    name: 'websocket',
    display: 'Manual Player'
  }
];
const controlSchemes = [
  {
    name: 'wsad',
    display: 'WSAD'
  }, {
    name: 'arrows',
    display: 'Arrow Keys'
  }
];

const emptyPlayer = {
  type: 'bot',
  argument: 'bots/random_bot',
  controls: ''
};

export default {
  name: 'SelectPlayers',
  data() {
    return {
      players: [
        Object.assign({}, emptyPlayer),
        Object.assign({}, emptyPlayer)
      ],
      playerTypes: playerTypes,
      controlSchemes: controlSchemes
    };
  },
  mounted() {
    document.getElementById('btn-ok').focus();
  },
  computed: {
    done() {
      for (let id in this.players) {
        let p = this.players[id];
        if (p.type === 'bot' || p.type === 'server') {
          if (p.argument === '') {
            return false;
          }
        } else {
          if (p.controls === '') {
            return false;
          }
        }
      }
      return true;
    }
  },
  methods: {
    ok() {
      this.$emit('selected', this.players);
    }
  }
};
</script>

<style scoped>
.player{
  border: 1px solid #bbb;
  margin: 10px;
  padding: 0 10px 20px;
  width: 240px;
  display: inline-block;
  text-align: left;
}
</style>
