<template>
  <div class="visualization">
    <canvas id="canvas" :width="width" :height="height"></canvas>
    <h2>Scores</h2>
    <p>
      <span style="font-size: 0.8rem">Player A</span> <span style="font-size: 1.5rem">{{state.gameState.scores[0]}}</span> &nbsp;&nbsp;&nbsp;
      <span style="font-size: 0.8rem">Player B</span> <span style="font-size: 1.5rem">{{state.gameState.scores[1]}}</span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Visualization',
  // scale: pixels per unit
  props: ['state', 'scale', 'map'],

  data() {
    return {
      ctx: null
    };
  },
  mounted() {
    var canvas = document.getElementById('canvas');
    this.ctx = canvas.getContext('2d');

    // transform canvas to game coordinates. +y is now up.
    this.ctx.translate(0, this.height);
    this.ctx.scale(this.scale, -this.scale);
    this.redraw();
  },
  computed: {
    width() {
      return this.scale * this.map.width;
    },
    height() {
      return this.scale * this.map.height;
    }
  },
  watch: {
    state: function() {
      // vue doesn't allow us to assign the function `redraw` to `state` directly for some reason..
      this.redraw();
    }
  },
  methods: {
    clear(color = '#222') {
      this.ctx.fillStyle = color;
      this.ctx.fillRect(0, 0, this.width / this.scale, this.height / this.scale);
    },
    redraw() {
      this.clear(this.state.frontendState.simulated ? '#99908c' : '#abc0d6');
      this.drawMap(this.map);
      for (var id = 0; id < 2; id++) {
        const t = this.state.gameState.physics_state.tanks[id];
        const barrel = this.state.frontendState.tanks[id].barrel;
        const intensity = this.state.frontendState.tanks[id].intensity;
        if (t.pos !== [-1, -1]) {
          const color = id === 0 ? '#333' : '#364';
          const active = this.state.frontendState.activePlayer === id;
          this.drawTank(t.pos, t.rot, barrel, intensity, color, active, this.state.smState === 'idle');
        }
      }

      if (this.state.gameState.physics_state.bullet !== [-1, -1]) {
        this.drawBullet(this.state.gameState.physics_state.bullet);
      }
    },
    drawMap(map) {
      const mapMaterialColors = ['#121212', '#ebebeb'];

      for (var i = 0; i < map.platforms.length; i++) {
        const platform = map.platforms[i];
        this.ctx.fillStyle = mapMaterialColors[platform.material];
        for (var j = 0; j < platform.shape.length; j++) {
          this.ctx.beginPath();
          for (var k = 0; k < platform.shape[j].length; k++) {
            const point = platform.shape[j][k];
            this.ctx[k > 0 ? 'lineTo' : 'moveTo'](point.x, point.y);
          }
          this.ctx.closePath();
          this.ctx.fill();
        }
      }
    },
    drawBullet(pos) {
      const radius = 0.1;

      this.ctx.beginPath();
      this.ctx.arc(pos[0], pos[1], radius, 0, 2 * Math.PI);

      this.ctx.fillStyle = '#333';
      this.ctx.fill();
    },
    drawTank(pos, rot, barrel, intensity, color = '#333', active = false, showControls = false) {
      let [x, y] = pos;

      // transform to tank coordinates
      this.ctx.save();
      this.ctx.translate(x, y);
      this.ctx.rotate(rot);

      // body
      this.ctx.beginPath();
      this.ctx.moveTo(-0.55, 0);
      this.ctx.lineTo(0.55, 0);
      this.ctx.lineTo(0.7, 0.5);
      this.ctx.lineTo(0.4, 0.5);
      this.ctx.lineTo(0.3, 0.9);
      this.ctx.lineTo(-0.3, 0.9);
      this.ctx.lineTo(-0.4, 0.5);
      this.ctx.lineTo(-0.7, 0.5);
      this.ctx.closePath();

      this.ctx.lineWidth = 0.1;
      this.ctx.strokeStyle = color;
      this.ctx.stroke();

      // barrel
      const barrelLen = 0.7;
      this.ctx.beginPath();
      this.ctx.moveTo(0, 0.7);
      this.ctx.lineTo(
        0 - Math.sin(barrel) * barrelLen,
        0.7 + Math.cos(barrel) * barrelLen
      );
      this.ctx.closePath();

      this.ctx.lineWidth = 0.05;
      this.ctx.strokeStyle = color;
      this.ctx.stroke();

      // shot intensity
      if (showControls) {
        this.ctx.beginPath();
        this.ctx.moveTo(0, 0.7);
        this.ctx.lineTo(
          0 - Math.sin(barrel) * barrelLen * intensity,
          0.7 + Math.cos(barrel) * barrelLen * intensity
        );
        this.ctx.closePath();

        this.ctx.lineWidth = 0.07;
        this.ctx.strokeStyle = 'red';
        this.ctx.stroke();
      }

      // active marker
      if (active && showControls) {
        const radius = 0.9;
        this.ctx.beginPath();
        this.ctx.arc(0, 0.4, radius, 0, 2 * Math.PI);
        this.ctx.lineWidth = 0.08;
        this.ctx.strokeStyle = '#ca3';
        this.ctx.stroke();
      }

      // clear transformation to tank coordinates
      this.ctx.restore();
    }
  }
};
</script>

<style scoped>

</style>
